body{
    display: flex;
    flex-direction: column;
}
a{
    list-style-type: none;
    text-decoration: none;
    color: #E5E7EB;
}
img{    
    width: 400px;
    height: 266px;
    flex-shrink: 0;
    margin-left: 75px;
    margin-bottom: 50px;
}
h1{
    font-size: 48px; 
    font-weight: 900;
    color:#F9FAF8;
    flex-shrink: 0;
    margin-bottom: 0;
}
p{
    font-size: 18px;
    color: #E5E7EB;
}
button{
    background-color: #3882F6;
    width: 75px;
    height: 20px;
    color: #E5E7EB;
    border: 0;
    border-radius: 5px;
    margin-bottom: 30px;
}
.margin-left{
    margin-left: 200px;
   
}
.margin-right{
    margin-right: 200px;
}
.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;

}
.logo{
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    margin-top: 8px;

}
.links{
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    padding: 8px;
    padding-right: 13px;
    gap: 10px;
}
.welcome{
    display: flex;
    flex-direction: column;
}
.landing{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    flex: auto;
}
.info{
    background-color: blanchedalmond;
    height: 400px;

}
.quote{
    background-color: #E5E7EB;
    height: 400px;

}
.call{
    background-color: blanchedalmond;
    height: 400px;
}
.footer{
    background-color: #1F2937;
    height: 400px;
}